.dtlist-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top:3%;
    color: black;
}

.people-list {
    background-color: #e6e8e9;
    padding-bottom:69px;
  }


 